* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

:root {
    --main-color: #8e44ad;
    --gray-color: #bdc3c7;
    --dark-color: #2c3e50;
    --light-color: #ecf0f1;
    --danger-color: #e74c3c;
}

.body {
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    background-color: var(--gray-color);
}

.container {
    margin: auto;
    padding: 20px 10px 20px 10px;
    max-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: var(--main-color);
    height: 100px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
    width: 90px;
}

.header__title{
    color: #fff;
    font-size: 1.8em;
}

.main {
    flex: 1;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.main__description {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.main__description__title {
    background-color: var(--light-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 2.2em;
}

.fire {
    color: var(--danger-color);
}

.grass {
    color: #27ae60;
}

.poison {
    color: #8e44ad;
}

.main__description__title__name {
    text-transform: uppercase;
    margin-left: 5px;
}

.main__description__image {
    max-height: 200px;
    object-fit: contain;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
    transition-duration: 1s;
}

.main__information {
    background-color: var(--light-color);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.main__information__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    font-size: 1.3em;
    text-transform: uppercase;
}

.main__information__group__title {
    font-weight: bold;
}


.footer {
    background-color: var(--light-color);
    height: 230px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
}

.footer__group__individual {
    width: 80px;
    height: 80px;
    background-color: var(--gray-color);
    border-radius: 8px;
}

.footer__group__individual:hover {
    background-color: var(--dark-color);
}

.footer__group__individual__image {
    height: 100%;
}

@media (min-width: 627px) {
    .header {
        justify-content: start;
    }

    .main {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .main__description {
        margin-right: 20px;
        height: calc(100vh - 320px);
    }

    .main__description__title {
        margin-left: 60px;
    }

    .main__description__container {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .main__description__image {
        max-height: 100%;
        max-width: 100%;
        position: relative;
        top: 0;
    }

    .main__information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 50px;
    }

    .main__information__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        height: 150px;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__title {
        flex-grow: 2;
        text-align: center;
    }

    .footer__group {
        display: flex;
        flex-grow: 3;
        justify-content: space-around;
        margin-right: 50px;
    }

}